@import "@styles/antd.variable.scss";

.layout {
  color: $text-color-base;
  padding: 20px;
  :global {
    h1,
    h2,
    h3,
    h4 {
      color: $text-color-base;
    }
    .wrapper{
      padding:6px 0;
    }
    p{
      margin:10px 0;
    }
  }
}
