@mixin wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@import "@styles/antd.variable.scss";
@mixin center {
  display: flex;
  justify-content: center;
}

.empty-page {
  @include wrapper();
  @include center();
  :global {
    .image-wrapper {
      @include center();
    }
    .content-wrapper {
      @include center();
    }
  }
}

.empty-block {
  @include wrapper();
  :global {
    .image-wrapper {
      @include center();
    }
    .content-wrapper {
      @include center();
      color: $text-color-base;
    }
  }
}
